In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("nmhss-puf-2020-csv.csv")
df.head()

,CASEID,LST,MHINTAKE,MHDIAGEVAL,MHREFERRAL,SMISEDSUD,TREATMT,ADMINSERV,SETTINGIP,SETTINGRC,...,OPRACEPERUNK,OPLEGALTOTVOL,OPLEGALPERVOL,OPLEGALTOTNONFOREN,OPLEGALPERNONFOREN,OPLEGALTOTFOREN,OPLEGALPERFOREN,COD_PCT,TOTADMIS,PERCENTVA
0,202000001,AK,1,1,1,1,1,0,0,0,...,-2,1,-2,0,-2,1,-2,7,2,0
1,202000002,AK,1,1,1,1,1,1,0,0,...,-2,1,-2,0,-2,1,-2,7,1,0
2,202000003,AK,1,1,1,1,1,0,0,0,...,1,1,7,0,0,0,0,7,6,0
3,202000004,AK,1,1,1,1,1,0,0,0,...,-2,1,-2,0,-2,0,-2,7,5,0
4,202000005,AK,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,-2,-1,-1

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv("mhcld_puf_2022.csv")
df.head()

,YEAR,AGE,EDUC,ETHNIC,RACE,GENDER,SPHSERVICE,CMPSERVICE,OPISERVICE,RTCSERVICE,...,ODDFLG,PDDFLG,PERSONFLG,SCHIZOFLG,ALCSUBFLG,OTHERDISFLG,STATEFIP,DIVISION,REGION,CASEID
0,2022,14,-9,3,3,2,2,1,2,2,...,0,0,0,1,0,0,1,6,3,20220000001
1,2022,7,3,3,4,1,2,1,2,2,...,0,0,0,1,0,0,1,6,3,20220000002
2,2022,8,3,3,-9,2,2,1,1,2,...,0,0,0,0,0,0,1,6,3,20220000003
3,2022,14,4,4,2,2,1,1,2,2,...,0,0,0,1,0,0,1,6,3,20220000004
4,2022,3,-9,4,6,2,2,1,1,2,...,0,0,0,0,0,0,1,6,3,20220000005

In [3]:
df

,YEAR,AGE,EDUC,ETHNIC,RACE,GENDER,SPHSERVICE,CMPSERVICE,OPISERVICE,RTCSERVICE,...,ODDFLG,PDDFLG,PERSONFLG,SCHIZOFLG,ALCSUBFLG,OTHERDISFLG,STATEFIP,DIVISION,REGION,CASEID
0,2022,14,-9,3,3,2,2,1,2,2,...,0,0,0,1,0,0,1,6,3,20220000001
1,2022,7,3,3,4,1,2,1,2,2,...,0,0,0,1,0,0,1,6,3,20220000002
2,2022,8,3,3,-9,2,2,1,1,2,...,0,0,0,0,0,0,1,6,3,20220000003
3,2022,14,4,4,2,2,1,1,2,2,...,0,0,0,1,0,0,1,6,3,20220000004
4,2022,3,-9,4,6,2,2,1,1,2,...,0,0,0,0,0,0,1,6,3,20220000005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6957914,2022,6,3,3,1,2,2,2,2,1,...,0,0,0,1,0,0,72,0,0,20226957915
6957915,2022,10,-9,-9,6,1,1,2,1,2,...,0,0,0,1,0,0,72,0,0,20226957916
6957916,2022,10,-9,-9,2,1,2,2,2,1,...,0,0,0,1,0,0,72,0,0,20226957917
6957917,2022,7,-9,4,2,2,1,2,2,2,...,0,0,0,0,0,1,72,0,0,20226957918
6957918,2022,11,-9,4,6,2,1,2,2,1,...,0,0,0,0,0,0,72,0,0,20226957919

In [2]:
from pytrends.request import TrendReq
pytrends = TrendReq(hl='en-US', tz=360)

pytrends.build_payload(['keyword1', 'keyword2'], cat=0, timeframe='today 5-y', geo='', gprop='')
interest_over_time = pytrends.interest_over_time()
print(interest_over_time)

            keyword1  keyword2  isPartial
date
2019-10-27         0         0      False
2019-11-03         0         0      False
2019-11-10         0         0      False
2019-11-17         0        66      False
2019-11-24         0         0      False
...              ...       ...        ...
2024-09-29         0         0      False
2024-10-06         0         0      False
2024-10-13        72         6      False
2024-10-20        65        40      False
2024-10-27        49        31       True

[262 rows x 3 columns]